body{
    background-color: #BB8377;

}
.navbar{
    display: inline-block;
    background-color: #AE1313;
    width: 100%;
}

a{
    color: black;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: black;
    background-color: #ad2424;
}

.navl{
float: left;
padding: 30px 25px;
border: 1px solid black;
}

.navr{
float: right;
padding: 30px 15px;
border: 13px black;
}

#mcent{
    padding: 0px;
    width: 60%;
    height: 100%;
    display: block;
    margin: auto;
    max-width: fit-content;
    
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#search{
    width: 80%;
}

div.userform{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background: #f7e5b1;
    padding-bottom: 30px;
}

div.formtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

div.formtext{
    color: black;
    font-size: 35px;
    font-weight: bold;
}

div.underline{
    width: 180px;
    height: 6px;
    background: black;
    border-radius: 11px;
}

div.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

div.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 65px;
    background: #f2c6ab;
    border-radius: 6px;
}

input{
    height: 30px;
    width: 480px;
    background: #e0b89f;
    border: none;
    outline: none;
    color: black;
    font-size: 16;
    border-radius: 6px;
}

div.forgotPass{
    padding-left: 62px;
    margin-top: 27px;
    color: black;
    font-size: 18px;
}

span{
    color: gray;
    cursor: pointer;
}

div.formsubmission{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

div.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: gray;
    background: #f2c6ab;
    border-radius: 50px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}